<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/theme.css" />
</head>

<body>
    <h1>{{>header}}</h1>
    <p>{{body}}</p>
</body>
<footer>{{>footer}}</footer>

</html>